@charset "UTF-8";

#signup1 {
	background-image : url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

#signup2 {
	background-image: url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

#signup3 {
	background-image: url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

#signup4 {
	background-image: url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

#signupB_1 {
	background-image : url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}

#signupB_2 {
	background-image : url('../../signup/img/bg11.jpg');
	background-size: cover;
	background-position: top center;
	min-height: 700px;
}